@section bonsai
{
	<script src="~/js/bonsai-0.4.5.min.js"></script>
	<script src="~/js/SystemApp/render.js"></script>
}

@{
	ViewData["Title"] = "Graph";
}

<h2>Graph</h2>

<div ng-controller="connectWebsocket" data-ng-init="connectWebsocket()">
	<div ng-show="connected">
		<p>StateNotifier server connected!</p>
	</div>
</div>

<div id="movie"></div>


